<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NReco.VideoConverter" version="1.1.4" targetFramework="net48" />
  <package id="taglib-sharp-netstandard2.0" version="2.1.0" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net48" />
  <package id="WMPLib" version="1.0.0" targetFramework="net48" developmentDependency="true" />
</packages>